.separator{
  display: flex;
  align-items: center;
  width: 100%;
  margin: var(--spacing6) 0;

  font-weight: 500;
  font-family: var(--secondaryFont);

  white-space: nowrap;
  text-transform: uppercase;
  &::before{
    display: block;
    width: 100%;
    height: 2px;
    margin-right: var(--spacing3);

    background-color: var(--primaryColor);

    content: "";
  }
  &::after{
    display: block;
    width: 100%;
    height: 2px;
    margin-left: var(--spacing3);

    background-color: var(--primaryColor);

    content: "";
  }
}
