@import "./_variables.scss";
@import "./_section.scss";
@import "./_headers.scss";
@import "./_links.scss";
@import "./_separator.scss";
@import "./_fonts.scss";
@import "./_touchOnly.scss";


html{
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 16px;
}

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: var(--text);

  font-size: var(--fontSize2);

  font-family: var(--primaryFont);

  background: var(--black);
}
main{
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
}

p,
ul,
ol{
  max-width: 800px;

  line-height: var(--lineHeight);

  &:first-child{
    margin-top: 0;
  }
  &:last-child{
    margin-bottom: 0;
  }
}


*{
  scroll-margin-top: calc(var(--navHeight) + var(--spacing6));
  -webkit-tap-highlight-color: transparent;
}

.initialInvis{
  visibility: hidden;
}

.dark{
  color: var(--white);
}


b{
  font-weight: 600;
}

button{
  font-size: var(--fontSize2);
  font-family: var(--primaryFont);
}


article{
  p{
    text-align: left;
  }
}

hr{
  margin: var(--spacing6) 0;

  border-color: var(--secondaryColor);
}
