.avatar{
  position: relative;

  margin-bottom: var(--spacing7);
  svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 8rem;
    height: 8rem;
    overflow: visible;
  }

  img{
    width: 8rem;
    height: 8rem;

    overflow: hidden;

    border-radius: 50%;
  }
}
